/* Media Query for Tablets & Desktops */
@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
    }

    #menuButton {
        display: none;
    }

    nav {
        margin-top: 0;
        background: none;
    }

    .nav-links {
        display: flex !important;
        gap: 1rem;
    }

    .nav-links li a {
        border-bottom: none;
        border-radius: 6px;
        padding: 0.6rem 1.2rem;
    }

    footer {
        padding: 2.5rem 3rem;
    }

    .footer-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    #directoryViewer.grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}